@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #333;
  --color-background: #fff;
  --font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


html,body,#app {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #6969dd #e0e0e0;
} */
